{% extends 'base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}  

{% block content %}

<section class="section-conten padding-y"style=" margin-top:100px; min-height:73vh ">

    <div class="container">
        <div class="row">

        <main class="col-md-12">
            <article class="card">
            <header class="card-header">
                <h5 class="card-title text-center">เกี่ยวกับเรา</h5>
                <span></span>
            </header>

            <div class="card-body">
                <div class="row">
                <div class="col-md-4">
                    <div class="card" style="text-align:center;">
                        <div class="card-body">
                            <a  class="icon-social" href="https://www.facebook.com/bank.supakit.7146/" target="_blank"><i class="fab fa-facebook fa-lg" style="color: #278edd;"></i></a>
                            <h5 class="card-title" style="margin-top: 15px;">Bank Supakit</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="text-align:center;">
                        <div class="card-body">
                            <a  class="icon-social" href="" ><i class="fab fa-instagram fa-lg"></i></a>
                            <h5 class="card-title" style="margin-top: 15px;">Bank Supakit</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" style="text-align:center;">
                        <div class="card-body">
                            <a class="icon-social" href="https://line.me/ti/p/vRHlcCQ4qf"  target="_blank"><i class="fab fa-line fa-lg" style="color: #07c304;"></i></a>
                            <h5 class="card-title" style="margin-top: 15px;">Bank Supakit</h5>
                        </div>
                    </div>
                </div>


                
            </div>  
            </article>
        </main>
        </div>
    </div>
</div>
</section>
    

{% endblock %}
