{% extends 'base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<section class="section-conten padding-y bg" style=" min-height:84vh ">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'includes/dasboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">เปลี่ยนรหัสผ่าน</strong>
            </header>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="{% url 'charge_password' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                                <label for="">รหัสผ่านปัจจุบัน</label>
                                <input type="password" name="current_password" placeholder="รหัสผ่านปัจจุบัน" class="form-control" required>
                        </div>
                        <div class="form-group">
                                <label for="">รหัสผ่านใหม่</label>
                                <input type="password" name="new_password" placeholder="รหัสผ่านใหม่" class="form-control" required> 
                        </div>
                        <div class="form-group">
                                <label for="">ยืนยันรหัสผ่าน</label>
                                <input type="password" name="confirm_password" placeholder="ยืนยันรหัสผ่าน" class="form-control" required> 
                        </div>
                        <input type="submit" value="บันทึก" class="btn btn-primary">
                        </form>
                    </div>
                </div>
    
                </div> 
            </article> 
        </main>
        </div>
    </div>

</section>

    

{% endblock %}
