{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ single_product.pd_name }}
{% endblock %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">
    
<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6">
<article class="gallery-wrap">
        <div class="img-big-wrap mainImage">
            <center>
                <img src="{{ single_product.pd_image.url }}">
            </center>
        </div>
        
</article>
        <ul class="thumb">
            <li>
                <a href="{{ single_product.pd_image.url }}" target="mainImage"><img src="{{ single_product.pd_image.url }}" alt="Product Image"></a>
                {% for i in product_gallery %}
                <a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product Image"></a>
                {% endfor %}
            </li>
        </ul>
        </aside>
    <main class="col-md-6 border-left">
<form action="{% url 'add_cart' single_product.id %}" method="POST">
    {% csrf_token %}
        <article class="content-body">
            <p><a href="{{ single_product.brand.get_url }}">{{single_product.brand}}</a></p>
            <h2 class="title">{{ single_product.pd_name }}</h2>
            <div class="rating-star">
                    <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-half-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-half-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-half-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-half-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-half-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <span>{{single_product.countReview}} รีวิว</span>
                </span>
            </div>
            <div class="mb-3"> 
                <var class="price h4">฿{{ single_product.pd_price }}</var> 
            </div>
            <hr>
                {% if single_product.pd_stock <= 0 %}
                <h5 class="text-danger">Sold out</h5>
                {% else %}
                    <button type="submit" class="btn  btn-primary"> <span class="text">เพิ่มในตระกร้า</span> <i class="fas fa-shopping-cart"></i></button> <small style="font-size: 12px;">สินค้ามีทั้งหมด {{ single_product.pd_stock }}</small>
                {% endif %}
            </article> 
</form>
            </main>
        </div>
    </div> 
    
    <br>

    <div class="container">
        <div class="row no-gutters">

        <main class="col-md-12" >
            <article class="card">
            <div class="card-body">
                <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center;">รายละเอียดสินค้า</h5>                      
                        <ul>
                            {% for product_detail in product_details %}
                            <li>{{product_detail.detail_line}}</li>
                            {% endfor %}                  
                        </ul>
                    </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"  style="text-align:center;">สเปคสินค้า</h5>
                            <ul>
                                {% for product_spec in product_specs %}
                                <li>{{product_spec.spec_line}}</li>
                                {% endfor %} 
                            </ul>
                        </div>
                    </div>
                </div>

                
            </div>  
            </article>
        </main>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">

        <main class="col-md-12">
            <article class="card">
            <header class="card-header">

                <span><p>{{ single_product.pd_description }}</p></span>
            </header>

            </article>
        </main>
        </div>
    </div>

    <br>
    
    <div class="row">
        <div class="col-lg-9">
        
        <form action="{% url 'submit_review' single_product.id %}" method="POST">
            {% csrf_token %}
            <h5>เขียนรีวิวของคุณ</h5>
            
            <div>
                <label>ให้คะแนนกับสินค้านี้</label>
                <br>
                <div class="rate">
                    <input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5"></label>
                    <input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                    <input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4"></label>
                    <input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                    <input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3"></label>
                    <input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                    <input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2"></label>
                    <input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                    <input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1"></label>
                    <input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
                </div>
                <br>
                ชื่อรีวิว :
                <input type="text" class="form-control" name="subject">
                <br>
                รีวิว :
                <textarea name="review" id="" rows="4" class="form-control"></textarea>
                <br>
                {% if user.is_authenticated %}

                    {% if orderproduct %}
                        <button type="submit" class="btn btn-primary">ส่งรีวิว</button>
                    {% else %}
                    <p>คุณต้องซื้อสินค้านี้เพื่อแสดงความคิดเห็น</p>
                    {% endif %}

                {% else %}
				<p>คุณต้องเข้าสู่ระบบเพื่อแสดงความคิดเห็น <span><a href="{% url 'login' %}">ลงชื่อเข้าใช้ตอนนี้</a></span></p>
				{% endif %}
            </div>
            <br>
            {% include 'includes/alerts.html' %}
        </form>
        <br>
        <header class="section-heading">
            <h3>รีวิวจากลูกค้า</h3>
            <div class="rating-star">
                <span> คะแนนเฉลียสินค้านี้ทั้งหมด
                    <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                    <span>{{single_product.averageReview}} จากทั้งหมด {{single_product.countReview}} รีวิว</span>
                </span>
            </div>
            
        </header>
        {% for review in reviews %}
        <article class="box mb-3">
            <div class="icontext w-100">
                <div class="text">
                    <span class="date text-muted float-md-right">{{review.updated_at}}</span>  
                    <h6 class="mb-1">
                        <img src="{{review.user.userprofile.profile_picture.url}}" alt="Profile Picture" width="40px" height="40px" style="border-radius: 30%;">
                        {{review.user.full_name}}
                    </h6>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                
                <h6>{{review.subject}}</h6>
                <p>
                    {{review.review}}
                </p>	
            </div>
        </article>
        {% endfor %}

    
        </div>
        
        <aside class="col-lg-3">
            <h6 class="text-center">สินค้าที่คุณอาจชอบ</h6>
                {% for product_recommens in product_recommen %}
                <article class="box mb-2">
                    <div class="icontext w-80">
                    <div class="text">
                        <h6 class="text-center">
                        <a href="{{ product_recommens.get_url }}" id="img-slider"><img src="{{ product_recommens.pd_image.url }}" alt="Profile Picture" width="150px"></a>
                        </h6>
                        <a href="{{ product_recommens.get_url }}" id="product-name-slider" style="color: black;"><p class="text-center">{{ product_recommens.pd_name }}</p></a>
                    </div>
                    </div>
                </article>
            {% endfor %}
    
    </aside>
    </div>  
    </div>
    </section>
    {% include 'includes/to-top.html' %}

{% endblock %}
